# Main dependencies
python-dotenv
pydantic-settings
fastmcp
python-multipart
asyncpg
psycopg2-binary
psycopg
typer
boto3
requests
greenlet
bcrypt
redis
fakeredis
neo4j
mcp

# Dev dependencies
black
isort
mypy
pytest
pytest-asyncio
frozenlist
types-pyyaml
ruff
uvicorn[standard]
httpx
pytest-cov

# Optional groups
pyyaml
dacite
cryptography
aiohttp
gevent
langchain
langchain-chroma
langchain-openai
langchain-google-genai
langchain-community
langchain-text-splitters
langchain-core
openai
tqdm
opentelemetry-exporter-otlp-proto-grpc
pydantic
sentry-sdk
trio
trio-asyncio
